
/* COLORS */
:root {
    --blue:#9ac0f6;
    --pink:#f084c5;
    --purple:#bf9beb;
    --yellow:#f6d896;
    --black: #0a0b11;
    --dark-gray:#13151E;
    --gray: #262A3C;
    --light-gray: #494d5e;
    --white:#FEFFDD;
}

.blue, a.blue:visited, a.blue:link
{
    color: var(--blue);
    font-weight: lighter;
}

.pink, a.pink:visited, a.pink:link
{
    color: var(--pink);
    font-weight: lighter;
}

.yellow, a.yellow:visited, a.yellow:link
{
    color: var(--yellow);
    font-weight: lighter;
}

.purple, a.purple:visited, a.purple:link
{
    color: var(--purple);
    font-weight: lighter;
}

a.blue:hover { color: var(--pink); }
a.pink:hover { color: var(--yellow); }
a.yellow:hover { color: var(--purple); }
a.purple:hover { color: var(--blue); }

a.blue:active, .blue:focus,
a.pink:active, .pink:focus,
a.yellow:active, .yellow:focus,
a.purple:active, .purple:focus
{
    color: var(--white);
}

/* BACKGROUND */
body
{
    background: url(../media/background.gif);

    background-repeat: repeat;
    background-size: fit;

    width: 100vw;
    height: auto;
    min-height: 100%;

    margin: 0;

    overflow-x: hidden;

    color: var(--white);

    font-family: Dosis;
}

/* GENERAL STYLING */
h1, h2, h3
{
    font-family: Patua One;
    font-weight: normal;
}

h1
{
    font-size: 2em;
}

/* LINKS */
a
{
    text-decoration: underline solid 1px;
    text-underline-offset: 2px;
}

#home .home:link,#home .home:visited { color: var(--purple);}
#projects .projects:link,#projects .projects:visited { color: var(--purple);}
#portfolio .portfolio:link,#portfolio .portfolio:visited { color: var(--purple);}
#resume .resume:link,#resume .resume:visited { color: var(--purple);}
#contact .contact:link,#contact .contact:visited { color: var(--purple);}

a:link { color: var(--white);}
a:visited { color: var(--white); }
p a:focus, a:focus { color: var(--purple);  }
p a:hover, a:hover { color: var(--pink); }
p a:active, a:active { color: var(--purple); }


/* MAIN */
.main-footer
{
    background-color: var(--gray);
    border: 3px solid var(--black);
    box-shadow: 0 2px 10px var(--black);

    width: 85vw;
    height: auto;

    margin: 100px auto 20px;
}

/* ABOUT */
#about, #projectInfo
{
    width: 90%;
    margin: 5px auto;
}

#aboutimg
{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* PROJECTS */
.project
{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: solid 3px var(--dark-gray);
}

.project:last-of-type
{
    border-bottom: none;
}

.project h1
{
    margin-bottom: -10px;
}

.project p
{
    width: 90%;
    margin: 20px auto 10px;

    text-align: justify;
}

.project p:after 
{
    content:'';
    display:inline-block;
    width:100%;
    vertical-align:top;
}

#tabs
{
    background-color: var(--dark-gray);
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    text-align: center;
}

#tabs a
{
    text-decoration: none;
}

.info
{
    text-align: center !important;
}

.info b
{
    font-weight: bold !important;
}

.images
{
    width: 95%;
    height: 200px;

    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;

    background-color: var(--black);
    border: 2px solid var(--black);
    border-left: 5px solid var(--black);
    border-right: 5px solid var(--black);

    box-shadow: 0 2px 10px var(--dark-gray);

    margin-bottom: 30px;
}

.images img
{
    height: calc(100% - 10px);
    margin: 5px 10px;

    background-color: var(--dark-gray);
}

iframe
{
    width: 80%;
    height: auto;
    
    aspect-ratio: 16 / 9;

    border: 2px solid var(--black);
    border-left: 5px solid var(--black);
    border-right: 5px solid var(--black);

    box-shadow: 0 2px 10px var(--dark-gray);

    margin-bottom: 20px;
}

/* SCROLLBARS */
.images::-webkit-scrollbar
{
    height: 0;
    width: 0;
    background-color: transparent;
}

.images::-webkit-scrollbar-thumb
{
    background-color: transparent;
    border: none;

    background-clip: content-box;
}
.images::-webkit-scrollbar-thumb:hover
{
    background-color: transparent;
}

.images::-webkit-scrollbar-thumb:active
{
    background-color: transparent;
}

/* [xs] Extra small devices, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* [sm] Small devices, 576px and up */
@media (min-width: 576px) {}

/* [md] Medium devices, 768px and up */
@media (min-width: 768px) {
    .main-footer
    {
        width: 70vw;
        height: auto;

        margin: 100px auto 30px;
    }

    #aboutimg
    {
        height: 250px;
        max-height: 20%;
        width: auto;
        object-fit: cover;

        float: right;

        margin: 0 20px;

        border: solid 3px var(--black);
        box-shadow: 0 2px 5px var(--black);
    }

    .images
    {
        width: 100%;
        height: 300px;

        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;

        margin-bottom: 30px;
    }

    /* SCROLLBARS */
    .images::-webkit-scrollbar
    {
        width: 11px;
        height: 15px;
        background-color: var(--black);
    }

    .images::-webkit-scrollbar-thumb
    {
        background-color: var(--gray);
        border: 2px solid transparent;

        background-clip: content-box;
    }
    .images::-webkit-scrollbar-thumb:hover
    {
        background-color: var(--light-gray);
    }

    .images::-webkit-scrollbar-thumb:active
    {
        background-color: var(--dark-gray);
    }
}

/* [lg] Large desktops, 992px and up */
@media (min-width: 992px) {
    .project p
    {
        width: 50%;
    }
}

/* [xl] Extra large devices 1200px and up */
@media (min-width: 1200px) {}

/* [xxl] Extra extra large devices, 1400px and up */
@media (min-width: 1400px) {}